<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RemoteClientUpdateConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>

    <supportedRuntime version="v2.0.50727" />
  </startup>


  <userSettings>
    <RemoteClientUpdateConsole.Properties.Settings>
      <setting name="CustomerGuid" serializeAs="String">
        <value>fae93021-7048-41b7-8f46-468e63730a78</value>
      </setting>
      <setting name="AppDirectoryPath" serializeAs="String">
        <value>C:\AppUpdaterTesting\App</value>
      </setting>
      <setting name="CustomerName" serializeAs="String">
        <value>Customer ABC</value>
      </setting>
      <setting name="CentralizedUpdateWebApiBaseUrl" serializeAs="String">
        <value>http://apiurl</value>
      </setting>
    </RemoteClientUpdateConsole.Properties.Settings>
  </userSettings>
</configuration>
